@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";

/* ---- reset ---- */
/* ---- particles.js container ---- */
/* ---- stats.js ---- */
body {
  font: normal 75% Allerta;
  background-color: #1b1b1b;
}
canvas {
  display: block;
}
#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.card {
  opacity: .8;
  display: flex;
  margin-top: 50px;
}
h1 {
  font-family: Allerta;
  font-size: 36px;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  line-height: 38.4px;
  
}

.red{
  color:red;
}
h3 {
  font-family: Allerta;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}
p {
  font-family: Allerta;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}
blockquote {
  font-family: Allerta;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-family: Allerta;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}
.inline{
  display: inline-block;
  margin:10px;
}
.my-auto{
  margin:auto;
  max-width:80%;
}
.video-container {
    overflow: hidden;
    position: relative;
    max-width:700px;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container{
  max-width: 900px;
}
.max-button {
  max-width: 700px;
}